/* Login */
.body-login {
    /* padding: 3rem; */
    background-color: #f0f2f5;
}
.left-login a {
    text-decoration: none;
}
/* .left-login :hover {
    box-shadow: 3px 3px 3px 3px #dddfe2;
} */
.container-login {
    margin: auto;
    width: 980px;
    padding-bottom: 132px;
    padding-top: 92px;
}
.fb_img_logo {
    height: 70px;
    margin: -20px;
}

.left-login h3 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 !important;
}
.left-login p {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
}
.quick-login_logo {
    border-radius: 8px;
    box-shadow: 0 0 0 1px #dddfe2;
    display: block;
    transition: all 0.2s ease-out;
    width: 160px;
}

.quick-login_logo_icon {
    align-items: center;
    background-color: #f5f6f7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    height: 160px;
    justify-content: center;
}

.quick-login_logo_icon i {
    color: #1877f2;
    display: block;
    font-size: 50px;
}

.quick-login_logo_text {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    height: 50px;
}

.quick-login_logo_text p {
    font-size: 18px;
    line-height: 22px;
    color: #1877f2;
}
.login-area {
    height: 456px;
    width: 396px;
}
.login-form {
    font-family: inherit;
    padding-bottom: 24px;
    padding-top: 10px;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.submit-login {
    font-family: inherit;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
}

.forgot-password {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.forgot-password a {
    text-decoration: none;
}
.create-account_btn {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    color: white;
}
/* end Login */
